
body{
	background:url(../images/center_bg.jpg) repeat-y top center;
}

 div.background{
	 width:100%;
	 background:url(../images/center_bg.jpg) repeat-y top center;
 }

 div.left{
	 border:3px solid white;
	 margin-left:370px;;
	 margin-right: 10px;
	 margin-top: 300px;
	 padding: 9px 9px;
	 width:413px;
	 float:left;
	 color:white;
 }

div.right{
    border:3px solid white;
	margin-top: 300px;
    padding: 32px 32px 31px;
    width:300px;
    float:left;
	color:white;
}

.text{
	width:200px;
}

input{
	border:1px solid #ccc;
	margin:0 0 5px 0;
	background:white;
}

#insertcode{
    width:70px;
}

form img{
    margin:0 0 0 10px;
    position:relative;
    top:6px;
}
