
/****添加 修改相关********/
#Stylist-add-edit{
    background:white;
    padding:  0 10px 5px 10px;
    color: #546C83;
}

#Stylist-add-edit table caption{
    font-size:20px;
    font-weight:bold;
    height:30px;
    margin:0 auto;
    line-height:30px;
    text-align:center;
}

#Stylist-add-edit table .table_tr{
    height: 25px;
    line-height:25px;
}

#Stylist-add-edit table .table_th{
    height: 25px;
    line-height:25px;
    text-align: right;
    display: inline-block;
    width: 100px;
    font-size: 1.6em;
}

#Stylist-add-edit table{
    margin-top: 5px;
}

#Stylist-add-edit .table_td{
    width: 300px;
    max-width: 300px;
    min-width: 300px;
}

#Stylist-add-edit{

}

#Stylist-add-edit table .table_th_top{
    height: 25px;
    line-height:25px;
    text-align: right;
    display: inline-block;
    width: 100px;
    font-size: 1.6em;
    vertical-align: top;
}

#Stylist-add-edit table .table_star{
    color: red;
}

#Stylist-add-edit table input[type=text]{
    width: 300px;
    color:#546C83;
}

#Stylist-add-edit table .table_radio{
    position: relative;
    top: 3px;
}

#Stylist-add-edit table .table_sort_title{
    font-size: 1.6em;
    font-weight: bold;
    position: relative;
    top:2px;
}

#Stylist-add-edit table .table_sort_input{
    text-align: center;
    position: relative;
    width: 50px;
    max-width: 50px;;
}

#Stylist-add-edit table .table_sort_span{
    float: right;
}

#Stylist-add-edit table .table_select{
    padding:2px 2px 2px 0;
    width: 304px;
    color:#546C83;
}

#Stylist-add-edit table .table_radio label{
    cursor:pointer;
}

#Stylist-add-edit table .textarea{
    resize: none;
    width: 298px;
    height: 100px;
    margin-top: 3px;
    color:#546C83;
}

#Stylist-add-edit table .table_image_tip_size{
    color:red;
    font-weight: bold;
}

#table_tr_show_image_add{
    display: none;
}

#Stylist-add-edit table .thumb_image{
    max-width: 300px;
    max-height: 150px;
    margin-top: 3px;
    padding: 1px;
    border: 1px dashed #ccc;;
}

#Stylist-add-edit table .table_th_adjust{
    position: relative;
    top: 2px;
}

#Stylist-add-edit table .positioning_image{
    position: relative;
}

#Stylist-add-edit table .delete_image{
    position: absolute;right:2px;bottom:5px;cursor: pointer;display: none;
}